div{
    width: 200px;
    height: 200px;
    border: 1px;
    background-color: green;
    color: black;
    margin-left: 100px;
    margin-top: 100px;
}
div:hover{
    width: 200px;
    height: 200px;
    border: 1px;
    background-color: green;
    color: black;
    transform: rotate(45deg);
    
}